# Ignore node_modules in both server and client folders
/server/node_modules/
/client/node_modules/

# Other common files/folders to ignore
.DS_Store
Thumbs.db
*.log
*.env
node_modules/
dist/
build/
coverage/
